@import "true";
@import "font-face";

@include describe('Font Face') {
  @include it('Create a font face rule. Embedded OpenType, WOFF2, WOFF, TrueType, and SVG files are automatically sourced.') {
    @include assert {
      @include output {
        @at-root {
          @include font-face('Samplino', 'fonts/Samplino');
        }
      }

      @include expect {
        @at-root {
          @font-face {
            font-family: "Samplino";
            src: url("fonts/Samplino.eot?") format("eot"),
              url("fonts/Samplino.woff2") format("woff2"),
              url("fonts/Samplino.woff") format("woff"),
              url("fonts/Samplino.ttf") format("truetype"),
              url("fonts/Samplino.svg#Samplino") format("svg");
          }
        }
      }
    }
  }
  @include it('Create a font face rule that applies to bold and italic text.') {
    @include assert {
      @include output {
        @at-root {
          @include font-face('Samplina Neue', 'fonts/SamplinaNeue', bold, italic);
        }
      }

      @include expect {
        @at-root {
          @font-face {
            font-family: "Samplina Neue";
            font-style: italic;
            font-weight: bold;
            src: url("fonts/SamplinaNeue.eot?") format("eot"),
              url("fonts/SamplinaNeue.woff2") format("woff2"),
              url("fonts/SamplinaNeue.woff") format("woff"),
              url("fonts/SamplinaNeue.ttf") format("truetype"),
              url("fonts/SamplinaNeue.svg#Samplina_Neue") format("svg");
          }
        }
      }
    }
  }
  @include it('Create a font face rule that only sources a WOFF.') {
    @include assert {
      @include output {
        @at-root {
          @include font-face('Samplinoff', 'fonts/Samplinoff', null, null, woff);
        }
      }

      @include expect {
        @at-root {
          @font-face {
            font-family: "Samplinoff";
            src: url("fonts/Samplinoff.woff") format("woff");
          }
        }
      }
    }
  }
  @include it('Create a font face rule that applies to 500 weight text and sources EOT, WOFF2, and WOFF.') {
    @include assert {
      @include output {
        @at-root {
          @include font-face('Samplinal', 'fonts/Samplinal', 500, normal, eot woff2 woff);
        }
      }

      @include expect {
        @at-root {
          @font-face {
            font-family: "Samplinal";
            font-style: normal;
            font-weight: 500;
            src: url("fonts/Samplinal.eot?") format("eot"),
              url("fonts/Samplinal.woff2") format("woff2"),
              url("fonts/Samplinal.woff") format("woff");
          }
        }
      }
    }
  }
}
