/// Same idea as the flex-columns but with floats parent should be clearfixed.
/// Uses the `$columns--total` value from the settings file you can override it as well
/// @group layout
/// @parameter {number} $cols The number of columns you wish the element to span
/// @parameter {number} $total-cols [$columns--total] The total number of columns in that row
/// @parameter {measure} $gutter [$column-gutter] The amount of gutter in the column
///
/// @example scss Input
///   .eight-cols {
///     @include float-cols(8);
///   }
///
///   .nine-cols-of-20 {
///     @include float-cols(9, 20);
///   }
///
/// @example css Output
///   .eight-cols {
///     float: left;
///     width: 66.66667%;
///     padding-left: 10px;
///     padding-right: 10px;
///   }
///
///   .nine-cols-of-20 {
///     float: left;
///     width: 45%;
///     padding-left: 10px;
///     padding-right: 10px;
///   }

@mixin float-cols($cols, $total-cols: $columns--total, $gutter: $column-gutter) {
  float: left;
  width: percentage($cols / $total-cols);
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}
