////
/// Originally Seen on Jeet.gs
/// @author Eager
/// @group styling
/// @link https://eager.io/blog/smarter-link-underlines/
////

/// Helper mixin for the Smart Underline mixin
/// Can only be used with a **solid color background**
/// @parameter {color} $color Color of the text shadow
/// @see {mixin} smartUnderline

@mixin textShadowToCropUnderline($color) {
  text-shadow:
    0.03em 0 $color,
    -0.03em 0 $color,
    0 0.03em $color,
    0 -0.03em $color,
    0.06em 0 $color,
    -0.06em 0 $color,
    0.09em 0 $color,
    -0.09em 0 $color,
    0.12em 0 $color,
    -0.12em 0 $color,
    0.15em 0 $color,
    -0.15em 0 $color;
}

/// Smart Underline like the ones you see on a text app
/// Like Sketch, Illustrator, PSD or Safari (could everyone else just copy Safari on this one?)
/// Can only be used with a **solid color background**
/// @requires {mixin} textShadowToCropUnderline
/// @parameter {color} $backgroundColor The color of the background for the text shadow to match
/// @parameter {color} $color The font color of the text
/// @parameter {color} $underlineBackground [$main-color] The background color when you select that text
///
/// @example scss Input
///   .smart-underline {
///     @include smartUnderline(#fff, #000);
///   }
/// @example css Output
///   .smart-underline {
///     color: #000;
///     text-decoration: none;
///     text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
///     background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#000, #000);
///     background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
///     background-repeat: no-repeat, no-repeat, repeat-x;
///     background-position: 0% 90%, 100% 90%, 0% 90%; }
///     .smart-underline::selection {
///       text-shadow: 0.03em 0 #bada55, -0.03em 0 #bada55, 0 0.03em #bada55, 0 -0.03em #bada55, 0.06em 0 #bada55, -0.06em 0 #bada55, 0.09em 0 #bada55, -0.09em 0 #bada55, 0.12em 0 #bada55, -0.12em 0 #bada55, 0.15em 0 #bada55, -0.15em 0 #bada55;
///       background: #bada55; }
///     .smart-underline:before, .smart-underline:after, .smart-underline *, .smart-underline *:before, .smart-underline *:after {
///       text-shadow: none; }
///     .smart-underline:visited {
///       color: #000; }

@mixin smartUnderline($backgroundColor, $color, $underlineBackground : $main-color) {
  color: $color;
  text-decoration: none;

  @include textShadowToCropUnderline($backgroundColor);

  background-image:
    linear-gradient($backgroundColor, $backgroundColor),
    linear-gradient($backgroundColor, $backgroundColor),
    linear-gradient($color, $color);

  background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;

  background-repeat:
    no-repeat,
    no-repeat,
    repeat-x;

  background-position:
    0% 90%,
    100% 90%,
    0% 90%;

  &::selection {
    @include textShadowToCropUnderline($underlineBackground);
    background: $underlineBackground;
  }

  &:before, &:after, *, *:before, *:after {
    text-shadow: none;
  }

  &:visited {
    color: $color;
  }
}
