=createGrid( $gutter : $column-gutter, $total : $columns--total, $sizes : $breakpoints )
  // First we create the row that will hold the columns
  .row
    margin-left: ($gutter / 2) * -1
    margin-right: ($gutter / 2) * -1
    // Clearfix
    &:after
      content: ''
      display: block
      clear: both

  %columns
    float: left
    padding-left: ($gutter / 2)
    padding-right: ($gutter / 2)

  // We do a simple loop to output the bottom level columns
  @for $i from 1 through $columns--total
    .col-#{$i}
      @extend %columns
      width: percentage($i / $total)

  // Now we loop each sizes in the list of breakpoint-classes
  @each $name, $breakpoint in $sizes
      // But first let's extend our lovely %columns class outside of the media query
      @for $i from 1 through $columns--total
        .col-#{$name}-#{$i}
          @extend %columns

      // And THEEEN we do our responsive thing
      @media (min-width: $breakpoint)
        @for $i from 1 through $columns--total
          .col-#{$name}-#{$i}
            width: percentage($i / $total)
