@mixin reset-btn {
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}
