// Breakpoints taken from Bootstrap for a consistent experience
// You can add or remove breakpoints as you wish
$breakpoints: (
  'phablet'     : 480px,
  'tablet'      : 768px,
  'laptop'      : 992px,
  'desktop'     : 1200px
) !default;

// Change this URL for a Valid Google Fonts Import URL
$font-url--google       : null !default;

// Path relative from outputted css to the img directory
$image-path             : '../img' !default;

// Max Number of Columns Used
$columns--total         : 12 !default;
